.grow {
    flex-grow: 1;
}

.whiteLink {
    color: black !important;
    font-size: 1rem !important;
    text-decoration: none !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-transform: capitalize !important;
    font-size: small !important;
}

.whiteLink-no-active {
    color: rgb(52 50 50 / 67%);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;
    font-size: small;
}

.whiteLink:nth-last-of-type() {
    padding-right: 1rem;
}

.logo {
    width: 4rem;
    border-radius: 50%;
    padding: 5px;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.menuButton {
    margin-right: 2px;
}

.search {
    position: 'relative';
    border-radius: 5px;
    background-color: white;
}

.search:hover {
    background-color: salmon;
}

.searchIcon {
    padding: 5px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRoot {
    color: 'inherit';
}

.sectionMobile {
    display: flex;
}

.connect-wallet-btn {
    background-color: #06c2fbcc;
    color: white;
    font-weight: 800;
    text-transform: none;
}

.connected-btn {
    background-color: #15d636cc;
    color: white;
    font-weight: 800;
    text-transform: none;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.headerinput>input {
    flex: 1;
    border: none;
}

.headerinputButton {
    width: 50px !important;
    margin-top: 4px;
    background-color: #e7f1ee;
    border-left: 1px solid #5d6462;
    color: #1a936f;
}

.nav-bar {
    background-color: #f3ebe8;
    background-image: url('../../../images/phase-bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
}